/* reset rules */
div,p,h1,h2,h3,ul,ol,li,a,form,input,table,th,td{margin:0;padding:0}
a{text-decoration:none;cursor:pointer;}
fieldset,img{border:0;}
table{border-collapse:collapse;border-spacing:0;}
li{list-style:none;}

/* global */
.clear{clear:both;}
.hide{display:none;}


/* the grid system */
.doc{}
.row{background:#fff;position:relative;}
.row:after{display:block;clear:both;content:'';}
.grid{background:#fff;position:relative;}
.grid,.hhandler{float:left;height:100%;}



/* page ui widgets */
.wrapper{margin:0 auto;width:600px;}
.status{position:absolute;}		
.board{width:100%;}


/* board and actionbar */
.board .actionbar{}
.board .actionbar:after{content:'';clear:both;display:block;}
.board .actionbar .action-btns{float:right;}

.action-btns a{display:block;width:32px;height:32px;float:left;background:#fff;background-repeat:no-repeat;text-indent:-999px;}
.action-btns .new{background-image:url('../img/new.png');}
.action-btns .load{background-image:url('../img/load.png');}
.action-btns .save{background-image:url('../img/save.png');}
.action-btns .edit{background-image:url('../img/edit.png');}
.action-btns .preview{background-image:url('../img/preview.png');}
.action-btns .generate{background-image:url('../img/print.png');}
.board .doc{width:100%;}




#listbox{display:none;width:500px;position:absolute;padding:20px;border-radius:10px;background-color:#fff;border:1px solid #ccc;}
#listbox.show{display:block;}
#listbox li{float:left;width:145px;margin:10px 5px;}