/* reset rules */
div,p,h1,h2,h3,ul,ol,li,a,form,input,table,th,td{margin:0;padding:0}
a{text-decoration:none;}
fieldset,img{border:0;}
table{border-collapse:collapse;border-spacing:0;}
li{list-style:none;}

/* global */
.clear{clear:both;}

/* page ui widgets */
.wrapper{margin:0 auto;width:800px;}
.status{position:absolute;}		
.board{width:100%;}
.board .actionbar{}
.board .actionbar:after{content:'';clear:both;display:block;}
.board .actionbar .action-btns{float:right;}
.board .doc{width:100%;background:#ccc;}

.vhandler{height:10px;cursor: row-resize;background:#eee url('../img/handler-v.png') no-repeat center;}
.hhandler{width:10px;cursor: col-resize;background:#eee url('../img/handler-h.png') no-repeat center;}

.gridfunc{position:absolute;left:0;background:#3d9;}
.gridfunc .btn{float:left;}
.rowfunc{position:absolute;width:20px;right:-20px;background-color:#39d;}
.rowfunc .btn{float:left;}
.btn{margin:0 5px;display:block;}

.hide{display:none;}
/* the grid system */
.doc{border:1px solid #ccc;}
.row{background:#fff;height:50px;position:relative;}
.row:after{display:block;clear:both;content:'';}
.grid{background:#fff;position:relative;}
.grid,.hhandler{float:left;height:100%;}

/* to be cleaned */
.drag{
	width:100px;
	height:100px;
	background:#39d;
	position:absolute;
	top:120px;
	left:120px;
	cursor:cross;
}